<div class="grid">
  <div class="col-5">
  </div>
  <div class="col-7 bg-green-400">
    <div class="p-3 border-round-sm font-bold text-3xl">
      <h2 class="rext-blue-500">Resultados</h2>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-5">
    
  </div>
  <div class="col-7">
    <div class="text-center p-3 border-round-sm font-bold text-3xl">

    </div>
  </div>
</div>


<h1 class="ff-roboto fw-300 text-blue-500">Resultados</h1>
@for (item of publicationList; track $index) {
  <card [publication]="item"/>
}